body {
  background-image: url(/static/vecteezy_ai-generated-barbershop-advertisment-background-with-copy-space_37236470.jpg);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #fff;
}

/* Styling the navigation bar */
nav {
  background-color: #333;
  position: fixed; /* Fixed position */
  top: 0; /* Lock it at the top */
  width: 100%; /* Full width of the viewport */
  background-color: #333; /* Background color */
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
 margin-right: 500px;
  float: left;
}

/* Styling the navigation links */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  display: inline-block;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #555;
}


.button-container {
  text-align: center; /* Optional: Centers the buttons horizontally */
  margin-right: -500px;
  margin-top: 120px;
}

.button-container button {
  display: inline-block;
  margin-right: 10px; /* Optional: Adds space between buttons */
  background-color: rgb(70, 73, 73);
  width: 120px;
  height: 30px;
  border-radius: 10px; 
  color: whitesmoke;
 
}
.card {
  height: 60px;
  width:900px;
  background-color: #DDD0C0;
  border: #050505;
  border-radius: 10px;
  padding-right: 10px;
  padding-left: 20px;
  position: relative;

}
.text-right {
  position: absolute;
  top: 0;
  right: 0;
  left: 4;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-radius: 15px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}
table {
width: 60%;
border-collapse: collapse;
margin-top: 50px;
}


table {
width: 60%;
border-collapse: collapse;
margin-top: 50px;
margin-left: 250px;
}

table, th, td {
border: 1px solid black;
}

th, td {
padding: 8px;
text-align: left;
margin-left: 100px;
color:whitesmoke;
}

th {
background-color:  #b3a9a9;
}