/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    background-image: url(https://i.pinimg.com/564x/09/94/ec/0994eccaab2f8a218f67f0731d9f38be.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #fff;
}


header, main, footer {
    padding: 20px;
    text-align: center;
}

/* Header styles */
header h1 {
    margin-bottom: 10px;
    font-size: 2em;
}

/* Main content styles */
main section {
    padding: 20px;
    background-color: white;
    margin: 10px auto;
    border-radius: 8px;
    width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Section headers */
main section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Footer styles */
footer {
    padding: 10px;
    background-color: #333;
    color: white;
    margin-top: 100px;
}

/* Other styling options */
ul {
    list-style-type: none;
    padding-left: 20px;
}
