body {
    font-family: Arial, sans-serif;
    background-image: url(https://i.pinimg.com/564x/09/94/ec/0994eccaab2f8a218f67f0731d9f38be.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #fff;
 
  }
  
  .container {
    max-width: 350px;
    margin: 50px auto;
    padding: 50px;
    border: 1px #ccc;
    border-radius: 5px;
    background-color: rgba(245, 245, 245, 0.46);
  }
  
  .form-group {
    margin-bottom: 60px;
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"]
   {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #52dadf;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0px;
  }
  
  button:hover {
    background-color: #52dadf;
  }

  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }