body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: hsl(0, 8%, 95%);
    background-image:url(/static/vecteezy_ai-generated-barbershop-advertisment-background-with-copy-space_37236470.jpg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #fff;
}

.h1{
   background-color: rgb(204, 220, 220);
  
   
}


.container {
    display: flex;
    flex-direction: column; /* Arrange content in a column */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    height: 100vh; 
    margin-top: 250px;
}

/* Styling the picture card */
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    height: 300px;
    max-width: 250px; /* Adjust as needed */
    text-align: center;
    margin: 0 10px; /* Adds space between cards */
    background-color: transparent;
    color: whitesmoke;
    margin-top: 70px;
    margin-top: 350px;
}

.card img {
    width: 70%;
    height: 200px;
    border-radius: 10px;
    margin: 0 10px;
}

.card-description {
    padding: 10px;
}

.card-description h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-description p {
    font-size: 14px;
}




/* Styles to place cards horizontally with spacing */
.card-container {
    display: flex;
    justify-content: center; /* Center the cards horizontally */
    gap: 20px; /* Add spacing between cards */
    padding: 20px;
    
}

/* Card styles */
.card {
    width: 18rem;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.button-container {
    position: absolute;
    top: 60%;
    left: 51%;
    transform: translate(-50%, -50%);

  }
  
  .image-button {
    display: block;
    margin-bottom: 10px;
  }

  .button-container {
    text-align: center; /* Optional: Centers the buttons horizontally */
}

.button-container button {
    display: inline-block;
    margin-right: 10px; /* Optional: Adds space between buttons */
    background-color: #4d5051;
    width: 120px;
    height: 30px;
    border-radius: 20px; 
    margin-bottom: 300px;
    color: whitesmoke;
}



 
  
 