<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/BobCuts.css">
    </head>
    <body>


        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="/About">About</a></li>
                <li><a href="/Booking">Bookings</a></li>
                <li class="dropdown"><a href="#">  
                    <li class="dropdown"><a href="#">  
                        <span>Services</span>
                        <div class="dropdown-content">
                          <b><a href="/FadeWaveCut">Fade Wave Cuts</a></b>
                          <b><a href="/BobCuts">BobCuts</a></b>
                          <b><a href="/BrushWaveCut ">Brush Wave Cut</a></b>
                          <b><a href="/StyleCutDye">Style Cut Dye </Make-Up></a></b>
                          <b><a href="/TopDyeHairCut">Top Dye Hair Cut</a></b>
                          <b><a href="/FadeCutFluffyDye">Fade Cut Fluffy Dye</a></b>
                          <b><a href="/DoubleDyeFade ">Double Dye Fade</a></b>
                          <b><a href="/DyeCurlyCuts">Dye Curly Cuts</a></b>
                        </div>
            </ul>
        </nav>

        <div class="content">
           
            <div class="button-container">
                <a href="/AddBobCuts"><button>Add</button></a>
                
            </div>
            <table border="1">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in x %}
                    <tr>
                        <td>{{ i.name }}</td>
                        <td><p>R{{ i.price }}</p></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
      

        
        
        <script src="" async defer></script>
    </body>
</html>