<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Service Form</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/DeleteFadeWaveCut.css">
</head>
<body>
    <div class="container">
        <div class="Image-container">
            <form action="/DeleteFadeWaveCut" method="post">
               <div class="form">
                   <center><h1>Delete Service</h1></center>
                       <center><h2>Fade Wave Cut</h2></center>
                           <br><br><br>
            
                          
                                   <input type="text" name="name" placeholder="Name" required>
                                      <input type="number" name="price" placeholder="Price" required><br><br>
                                        <!-- Add a hidden input field to indicate soft delete -->
                                        <input type="hidden" name="soft_delete" value="true">
                                        <center><button type="submit">Delete</button></center>
           
      </div> 
     </form> 
   </div> 
 </div>  
    <script src=""></script> 
</body>
</html>
